body{
  background-color: #eaf8ff;
  background:url("../images/result_bg.jpg") top center no-repeat;

}
.character{
  width:100%;
  max-width:600px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:20px;
}
.result{
  max-width: 600px;
  margin-left:auto;
  margin-right:auto;
}
.result .box{
  min-height: 70px;
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  padding: 30px 10px;
}
.result h3{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  margin:40px 0 20px 0;
}
.result .jobs{
  height: 200px;
  display: flex;
  gap:10px;
}
.result .job{
  flex:1; 
  background-color: #fff;
  /* 1:1비율로 만들어지라는 속성과 값 */
  border-radius: 20px;
  background-image:url("../images/result_star.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #FFE603;
}
.result .lecture img{
  margin-bottom: 40px;
  width:100%;
}
